.canvasWrapper {
    overflow: hidden;
}

.app { 
    padding-top: 1rem;
    background: rgba(34, 185, 255, 0.75);
}

iframe[title="lotterySeaAnimation"] {
    border: 0;
    width: 100%;
    height: 30rem;
}